<div id="<%= dom_id template %>">
  <p>
    <strong>Name:</strong>
    <%= template.name %>
  </p>

  <p>
    <strong>File path:</strong>
    <%= template.file_path %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= template.category_id %>
  </p>

</div>
